.header {
  align-items: center;
  background-color: white;
  box-shadow: -4px 9px 13px rgba(5, 18, 54, 0.4);
  display: flex;
  justify-content: space-around;
  max-width: 1037px;
  width: 100%;
}

.logo {
  color: #003be5;
  font-size: 2.5rem;
  font-weight: 300;
}

.chunk2 {
  color: #2fc18c;
  font-size: 2.5rem;
  font-weight: 900;
}

.expenses {
  align-items: center;
  color: #003be5;
  display: flex;
  font-size: 1rem;
}

.userEmail {
  color: #2fc18c;
}
