.header {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.logo {
  color: #003BE5;
  font-size: 2,5rem;
  font-weight: 300;
}
.chunk2 {
  color: #2FC18C;
  font-size: 2,5rem;
  font-weight: 900;
}
.expenses {
  align-items: center;    
  color: #003BE5;
  display: flex;
  font-size: 1rem;
}

.userEmail {
  color: #2FC18C;
}
